pandas
numpy
sqlalchemy
psycopg2-binary
matplotlib
seaborn
scikit-learn
xgboost
shap
IPython
transformers
accelerate
sentencepiece
bitsandbytes
torch
optimum
sentence-transformers
faiss-cpu
fastapi
uvicorn
tf-keras
bitsandbytes
accelerate