pandas
numpy
sqlalchemy
psycopg2-binary
matplotlib
seaborn
scikit-learn
xgboost
shap
IPython
transformers
accelerate
sentencepiece
torch
optimum
sentence-transformers
faiss-cpu
fastapi
uvicorn
tf-keras
accelerate
django
djangorestframework
djangorestframework-simplejwt
pyotp
qrcode[pil]